@font-face {
    font-family: 'Linux Libertine';
    src: url(../fonts/LinLibertine_R.ttf);
}

@font-face {
    font-family: 'Linux Libertine SmallCaps';
    src: url(../fonts/LinLibertine_aS.ttf);
}

html, body {
    height: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    color: #252525;
}

h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
}

.ul {
    text-decoration: underline;
}

.fullwidth-bar {
    position: relative;
    width: 100%;
    border: none;
}

.fullwidth-bar:before {
    display: block;
    content: " ";
    position: absolute;
    top: 0;
    left: -5000%;
    width: 10000%;
    height: 100%;
    background: #f5f5f5;
    border: 1px solid #e3e3e3;
    z-index: -1;
}

a {
    color: #0645ad;
}

a:hover {
    color: #0645ad;
}

/* Page Header
 -----------------------------------------------------------------------------*/
#header {
    position: relative;
    height: 60%;
    max-height: 600px;
}

#logo {
    height: 100%;
    display: table;
    color: #252525;
}

#logo:hover {
    text-decoration: none;
}

#logo:active {
    color: #0091ff;
}

#header h1 {
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    font-size: 3em;
    word-spacing: 0.05em;
    font-family: 'Linux Libertine SmallCaps', serif;
}


#header #title-left {
    text-align: right;
    padding-right: 16vh;
}

#header #title-right {
    text-align: left;
    padding-left: 16vh;
}

/* Article
 -----------------------------------------------------------------------------*/
article {
    text-align: left;
    margin-top: 0.4em;
    font-family: sans-serif;
    max-width: 800px;
}

article h2 {
    font-family: 'Linux Libertine', serif;
    font-size: 21px;
    padding-top: 1em;
    border-bottom: 1px solid #aaa;
    margin-bottom: 1rem;
}

article h3 {
    font-size: 16px;
    font-weight: bold;
}

article h2,
article h3 {    
    margin-top: 3rem;
    margin-bottom: 0.2rem;
    clear: both;
}

article h4 {
    margin-top: 1.4rem;
    margin-bottom: 1.4rem;
}

article img {
    max-width: 100%;
}

article img.screenshot {
    margin-bottom: -3em;
}

article figure {
    display: block;
    width: 256px;
    float: right;
    display: table;
    border: 1px solid #aaa;
    background: #f9f9f9;
    padding: 0.6em;
    margin-left: 2rem;
}

article figure.left {
    float: left;
    margin-left: 0;
    margin-right: 2rem;
}

article figcaption {
    font-size: 0.85em;
    padding: 0.2em;
}


/* table-of-contents
 -----------------------------------------------------------------------------*/
#table-of-contents {
    display: table;
    border: 1px solid #aaa;
    background: #f9f9f9;
    padding: 0.6em;
}

#table-of-contents > ol {
    padding-left: 0;
}

#table-of-contents li {
    list-style: none;

}

#table-of-contents h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    font-family: inherit;
    margin: 0.5em 0;
    padding: 0;
    border: none;
}

/* footer
 -----------------------------------------------------------------------------*/
#page-footer {
    max-width: 60em;
    margin-top: 4rem;
    margin-bottom: 5rem;
    color: #ccc;
} 

#page-footer a {
    color: inherit;
}

#page-footer nav {
    padding-bottom: 1.6em;
}

/* iiIii
 -----------------------------------------------------------------------------*/
.JTL .iiiii-reserved-word {
    color: inherit;
    text-decoration: none;
}

.JTL .iiiii-word {
    color: inherit;
    text-decoration: underline;
}

.JTL .iiiii-word-inner {
    color: transparent;
    text-shadow: none;
}


.JTL a .iiiii-word,
.JTL .iiiii-word:hover,
.JTL .iiiii-word:hover .iiiii-word-inner,
.JTL a .iiiii-word-inner,
.JTL a .iiiii-reserved-word {
    display: initial;
    color: inherit;
    text-decoration: inherit;
}



@media (max-height: 600px) {
    article {
        margin-top: 0;
    }
    
    article h2,
    article h3 {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    article h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media (min-height: 900px) {
    #header #title-left {
        padding-right: 150px;
    }

    #header #title-right {
        padding-left: 150px;
    }
}

@media (max-width: 500px) {
    article figure {
        margin: 0 auto;
        float: none;
        text-align: center;
    }


}