body {
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #444;
}

button {
    width: 100%;
    min-width: 100px;
    min-height: 1em;
    border: none;
    border-bottom: 1px solid #aaa;
    background: none;
    
    padding: 0.6em 0.1em;
}

button:last-child {
    border-bottom: none;
}

button:focus {
    outline: 0;
}

button:hover {
    background: #eee;
}3
